*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.construction {
  height: 90vh;
  width: 100%;
  background-image: url(./Images/soonmobile.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #202020;
}
.construction__footer {
  height: 10vh;
  background-color: #202020;
}
@media (min-width: 800px) {
  .construction {
    background-image: url(./Images/soondesktop.jpg);
  }
}
