*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.construction {
  min-height: 90vh;
  width: 100%;
  background-image: url(./Images/soonmobile.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #202020;
}
.construction__footer {
  min-height: 10vh;
  background-color: #202020;
  padding-top: 3rem;
  color: white;
  text-align: center;
  font-size: 0.6rem;
}
.footer__text {
  font-weight: 700;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 300;
}
@media (min-width: 800px) {
  .construction {
    background-image: url(./Images/soondesktop.jpg);
  }
}
