*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CUSTOM PROPERTIES */
:root {
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --ff-text: "Roboto Serif", serif;
  --ff-headings: "Raleway", sans-serif;
  --clr-white: #ffffff;
  --clr-dark: #1d1d1b;
  --clr-accentFirst: #ff11c7;
  --clr-accentSeconf: #58effb;
}
/* GENERAL STYLES */
section {
  min-height: 100vh;
  background-color: var(--clr-dark);
}
body {
  background-color: var(--clr-dark);
}
/* NAV BAR  */

.logo {
  width: 75px;
  height: 30px;
  z-index: 100;
}
.nav {
  /* position: relative;
  padding: 1rem; */

  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.iconify {
  height: 36px;
  width: 36px;
  color: var(--clr-accentFirst);
}
.nav__button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 1000;
}
.nav__button-circle {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.link__container {
  position: relative;
  width: 120px;
  text-align: center;
}

.nav__rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  height: 5px;
  width: 56px;
  /* z-index: -1; */
}
.nav__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 1;
}

.nav__link {
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  cursor: pointer;
  padding: 0.5rem;
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: 0.8rem;
  color: var(--clr-white);

  z-index: 5;
}
.nav__link:hover {
  /* border: 1px solid var(--clr-black); */
  color: var(--clr-accentFirst);
  font-weight: var(--fw-bold);
}

/* SIDE NAVIGATION */
.side__nav {
  position: fixed;
  left: 0px;
  top: 0%;
  z-index: 100;
  height: 100vh;
  display: none;
}

.dot__item {
  display: flex;
  align-items: center;
  padding-bottom: var(--nav-gap);
}
.dot__link {
  cursor: pointer;
  height: 25vh;
  width: 10px;
  margin-right: 0.5rem;
  transition: transform 0.5s ease-in;
  opacity: 0.9;
  background-color: var(--clr-white);
}
.dot__link-right {
  margin: 0;
}
.dot__link-selected {
  background-color: var(--clr-accentFirst);
}

.dot__link:hover ~ .dot__label {
  opacity: 1;
}
.dot__label {
  font-weight: var(--fw-regular);
  color: var(--clr-grayLight);
  opacity: 0;
  transition: opacity 0.1s;
}

@media (max-width: 1300px) {
  .nav__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* Hide nav links */
    transform: translateX(-150%);
    transition: all 0.65s ease-in-out;
    background-color: var(--clr-dark);
    opacity: 0.999;
    z-index: 100;
  }
  .nav__open {
    /* show links */
    transform: translateX(0);
  }
}
/* DONT SHOW NAV BUTTON ON DISPLAY MORE THEN 800 PX */
@media (min-width: 1300px) {
  .nav__button {
    display: none;
  }
  /* SHOW SIDE NAV*/
  .side__nav {
    display: flex;
    flex-direction: column;
  }
}
/* HOME PAGE */
.construction {
  min-height: 90vh;
  width: 100%;
  background-image: url(./Images/soonmobile.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #202020;
}
.construction__footer {
  min-height: 10vh;
  background-color: #202020;
  padding-top: 3rem;
  color: white;
  text-align: center;
  font-size: 0.6rem;
}
.footer__text {
  font-weight: 700;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 300;
  font-family: var(--ff-text);
}
@media (min-width: 800px) {
  .construction {
    background-image: url(./Images/soondesktop.jpg);
  }
}
